<section class="hero-section" id="hero">
    <div class="container hero-container">
        <picture>
            <source srcset="
             /img/hero/logo-desk.png 1x,
             /img/hero/logo-desk@2x.png 2x
           " media="(min-width: 1439px)" />
            <source srcset="
           /img/hero/logo-mob.png  1x,
           /img/hero/logo-mob@2x.png 2x
           " media="(max-width: 1438px)" />
            <img class="hero-title-img" src="/img/hero/logo-mob.png" alt="Raise the Sails" loading="lazy" />
        </picture>        
        <h1 class="hero-title">Raise the Sails.<br/><span class="span">Face the Horizon.</span> </h1>

        <a class="hero-button" href="#demo">
            <picture>
                <source srcset="
                img/hero/button-desk.png 1x,
                img/hero/button-desk@2x.png 2x
                     " media="(min-width: 1439px)" />
                <source srcset="
               img/hero/button.png  1x,
               img/hero/button@2x.png 2x
                     " media="(max-width: 1438px)" />
                <img class="hero-btn pulse" src="/img/hero/button.png" alt="Enter" loading="lazy" />
            </picture>
        </a>
        <div class="hero-wrapper">
            <h2 class="hero-subtitle">Disclaimer</h2>
            <p class="hero-text">Boostarena.space IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING PLAYING THIS APP CANNOT BE CONSIDERED THE SAME
            AS WINNING IN REAL LIFE GAMES. APP IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS FREE APP!</p>
        </div>
    </div>
</section>
<section class="demo-section" id="demo">
    <div class="container demo-container">

        <h2 class="visually-hidden">Play</h2>
 
            <div class="demo-wrapper">
                            <picture>
                                <source srcset="
                                /img/demo/demo-desk.png 1x,
                                /img/demo/demo-desk@2x.png 2x
                                " media="(min-width: 1439px)" />
                                <source srcset="
                                /img/demo/demo-mob.png  1x,
                                /img/demo/demo-mob@2x.png 2x
                                " media="(max-width: 1438px)" />
                                <img class="game-img" src="/img/demo/demo-mob.png" alt="Cursed Can Bonus Buy" loading="lazy" />
                            </picture>
               
    
                <div class="iframe-wrapper">
                    <iframe id="gameIframe"></iframe>
    
                    <button id="closeIframeBtn" class="hidden-close-btn" aria-label="Close">
                        <img src="/img/demo/close.png" alt="Close">
                    </button>
                </div>
            </div>
            <a class="demo-btn" href="#" data-game-url="https://games-cv.com/catch_the_wind_bonus_buy?refCode=promoRefCode"
                target="gameIframe">
                <img class="demo-img" src="/img/demo/button.png" alt="Play Free" loading="lazy" />
    
            </a>
        </div>
    </section>
<section class="voyage-section">
    <div class="container voyage-container">
        <h2 class="voyage-title">Voyage</h2>
        <p class="voyage-red-text">The Art of Gentle Play</p>
        <p class="voyage-text">The journey begins along the quieter edges of the Caribbean, where the ship waits in half-shadow. The Captain is
        preparing a venture he probably shouldn’t attempt — and that’s exactly why he will.
        Once the sails fill, the whole mood shifts. The screen should feel sun-bleached. Symbols echo the life at sea: maps
        curled at the edges, brass instruments, lantern glass fogged with salt spray, and those small pieces of treasure no sane
        sailor ignores.<br/>
        This chapter isn’t a retelling of the old voyage. It’s sharper, riskier, and the stakes feel heavier.</p>
    </div>
</section>




