.footer-container{
    padding-top: 600px;
    position: relative;
}
.footer-img{
    position: absolute;
  top: 0;
  right: 0;
}
.footer-navigation{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 25px;
        line-height: 0.7;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        text-align: justify;
        color: #093247;
}
.footer-text{
    margin-top: 18px;
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 8px;
        line-height: 2;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
}
@media only screen and (min-width: 1439px) {
.footer-container{
    padding-top: 48px;
}
.footer-img{
    left: 10%;
}
.footer-navigation{
    gap: 30px;
    align-items: end;
    margin-top: 140px;
    font-size: 40px;
}
.footer-text{
    text-align: right;
    font-size: 14px;
}
}