.header {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    background: #093247;
    height: 64px;
    width: 100%;

}

.header-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}


.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: inherit;
    margin-right: 10px;
    margin-left: auto;
}

.navigation-list {
    display: none;
}

/* Modal */
.modal {
    display: none;
border: 1.50px solid rgba(28, 28, 28, 0.2);
    border-radius: 40px;
    padding:90px 41px;
    backdrop-filter: blur(4px);
        background: #fff;
    width: 374px;
    height: auto;
    z-index: 1000;
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    transition: visibility 0.3s ease;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
border-radius: 20px;
    width: 291px;
    height: 40px;
    background: #093247;
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #fff;
}


@media screen and (min-width: 1440px) {
    .header {
        width: 100%;
        height: 74px;
        background: #fff;
    }

    .header-container {
        padding: 17px 370px;
        justify-content: center;
    }


    .menu-button {
        display: none;
    }

    .navigation-list {
        display: flex;
        align-items: center;
        gap: 16px;
    }


    .navigation-item {
border-radius: 20px;
    width: 159px;
    height: 40px;
    background: #093247;
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}