
.hero-container{
    padding-top: 60px;
    padding-bottom: 50px;
}
.hero-title{
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
        font-style: italic;
        font-weight: 900;
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
       color: #000;
    text-shadow:
            -2px -2px 0 #fff,
            2px -2px 0 #fff,
            -2px 2px 0 #fff,
            2px 2px 0 #fff;
  
}
.span{
    color:#0242ff;
}
@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
    width: 244px;
        height: 73px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.hero-wrapper{
    background-image: url("/img/hero/wrapper-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
   
        padding: 36px 38px;
        width: 375px;
        height: 365px;
    margin-top: 50px;
  
    margin-left: -21px;
}
.hero-subtitle{
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 31px;
        line-height: 0.7;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #ff0b0b;
}
.hero-text{
    margin-top: 16px;
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 19px;
        line-height: 1.16667;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        text-align: justify;
        color: #093247;
}
@media only screen and (min-width: 1439px) {

   .hero-container{
    position: relative;
    padding-bottom: 30px;
    padding-top: 100px;
  }
  .hero-title{
 position: absolute;
    text-align: left;
    top: 12%;
    left: 56%;
    font-size: 48px;
  }
  .hero-title-img{
    width: 346px;
        height: 375px;

  }
  .hero-btn{
   position: absolute;
    top: 36%;
        left: 56%;
  }
 .hero-wrapper{
    margin-top: 200px;
    width: 1440px;
    background-size: contain;
    margin-left: -115px;
        padding: 65px 115px;
    background-image: url("/img/hero/wrapper-desk.png");
 }
  .hero-subtitle{
    font-size: 40px;
  }
  .hero-text{
    font-size: 24px;
  }
  .hero-title-img{
    margin-left: 270px;
  }
}
/* demo */


/* ===== ОСНОВА ===== */

.demo-container {
    position: relative;
    padding-top: 30px;
}

.demo-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto ;
    height: 876px;
}
.game-img{
height: 876px;
}

/* ===== КНОПКА ===== */

.demo-btn {
    position: absolute;
    z-index: 10;
    display: inline-block;
    cursor: pointer;
    top: 50%;
    left: 50%;
    width: 284px;
    height: 85px;
    transform: translate(-50%, -50%);
}

.demo-img {
    display: block;
    width: 284px;
    height: 85px;
}

/* ===== ФОН ===== */

.game-img {
    width: 100%;
    display: block;
}

/* ===== IFRAME ===== */

.iframe-wrapper {
    position: absolute;
    top: 1%;
    left: 34%;
    transform: translateX(-50%);
    width: 68%;
    height: 54%;
    z-index: 20;

    /* 🔥 ГОЛОВНЕ ВИПРАВЛЕННЯ */
    pointer-events: none;
}

#gameIframe {
    width: 147%;
    height: 182%;
    border: none;
    display: none;
    background: #000;
    border-radius: 20px;
}

/* АКТИВНИЙ СТАН */
.iframe-wrapper.active {
    pointer-events: auto;
}

#gameIframe.active {
    display: block;
}

/* ===== КНОПКА ЗАКРИТТЯ ===== */

#closeIframeBtn {
    position: absolute;
    top: 30px;
    right: -80px;

    background: none;
    border: none;
    cursor: pointer;

    display: none;

    z-index: 9999;
    /* 🔥 НАД iframe */
    pointer-events: auto;
}

#closeIframeBtn.active {
    display: block;
}

/* ===== VISUALLY HIDDEN ===== */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
@media only screen and (min-width: 1439px) {
.demo-wrapper {
    margin: 0px auto 0;
    height: 640px;
}

.game-img {
    height: 640px;
}
.demo-container{
    padding-top: 30px;
}
}
/* voyage */
.voyage-section{
    background-image: url("/img/about/about-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 858px;
}
.voyage-container{
    padding-top: 70px;
 
}
.voyage-title{
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 40px;
        line-height: 1.15;
        letter-spacing: -0.04em;
        text-align: center;
        color: #093247;
}
.voyage-red-text{
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.75;
        color: #ff0b0b;
        text-align: center;
}
.voyage-text{
    margin-top: 40px;
    font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        color: #fff;
}
@media only screen and (min-width: 1439px) {
.voyage-section {
        background-image: url("/img/about/about.png");
height: 703px;
background-size: contain;
    }
    .voyage-container{
    padding-bottom: 132px;
    padding-top: 60px;
 }
.voyage-text{
width: 606px;
margin-left: auto;
margin-right: auto;
 }
}
/* features */
.features-swiper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
/* СТРІЛКИ */
.features-prev,
.features-next {
    width: 64px;
    height: 64px;
}
.feature-container{
    padding-top: 160px;
    padding-bottom: 117px;
  position: relative;
}
.features-title{
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 40px;
        line-height: 0.7;
        text-align: center;
        color: #fff;
        text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        margin-bottom: 40px;
}
.features-prev {
 position: absolute;
top:92%;
    left: 30%;
}

.features-next {
    position: absolute;
    top: 92%;
    right: 30%;
}

/* прибираємо стандартні стрілки */
.features-prev::after,
.features-next::after {
    display: none;
}
.feature-card{
    border-radius: 50px;
        padding: 28px 46px;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
}
.feature-card-one-title{
    margin-top: 40px;
   text-align: center;
font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #0242ff;
}
.feature-card-one-text{
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        color: #000;
        height: 192px;
        width: 299px;
}
.feature-img{
    width: 206px;
        height: 228px;
}
.feature-card-two-title{
    margin-top: 40px;
    font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        color: #093247;
        width: 299px;
}
.feature-card-two-text{
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        color: #0e0f71;
        height: 192px;
        width: 299px;
}
@media only screen and (min-width: 1439px) {
.feature-container{
    padding: 90px 298px 48px;

}

 .features-prev {
     position: absolute;
     top: 50%;
     left:14%;
 }

 .features-next {
     position: absolute;
     top: 50%;
     right: 14%;
 }

}