.hero-section{
background-image: url("/img/hero/mob.png");
background-repeat: no-repeat;
background-position: top 40px center;
background-size: contain;
}
.hero-container{
    padding-top: 59px;
    padding-bottom: 50px;
}
.hero-title{
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
        font-style: italic;
        font-weight: 900;
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
       color: #000;
    text-shadow:
            -2px -2px 0 #fff,
            2px -2px 0 #fff,
            -2px 2px 0 #fff,
            2px 2px 0 #fff;
  
}
.span{
    color:#0242ff;
}
@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
    width: 244px;
        height: 73px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.hero-wrapper{
    margin-top: 50px;padding: 20px;
}
.hero-subtitle{
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 31px;
        line-height: 0.7;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #ff0b0b;
}
.hero-text{
    margin-top: 16px;
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 19px;
        line-height: 1.16667;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        text-align: justify;
        color: #093247;
}